/****** PLACE YOUR CUSTOM STYLES HERE ******/
/*
0. Color Glossary
1. Global Styles – (body, paragraphs, lists, etc)
2. Spacing
3. Colors
4. Header
5. Page Structure
6. Headings
7. Text Styles
8. Navigation
9. Decoration
10. Comments
11. Extras
*/


/* ------------------------*/ /* ---------->>> 1. GLOBAL STYLES <<<-----------*/ /* ------------------------*/

/* Slider Navigation */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 350px;
  /*margin: -100px 0 0 0;*/
  position: absolute;
  /*top: 50%;*/
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
.flex-direction-nav a:before {
  /*font-family: "";*/
  font-size: 100px;
  display: absolute;
  content: '\f001';
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.screen-only {
    display: block;
}
.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .screen-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}


/* ------------------------*/ /* ---------->>> 2. SPACING <<<-----------*/ /* ------------------------*/
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 30px; }
.pt50 { padding-top: 50px; }
.pt75 { padding-top: 75px; }
.pt100 { padding-top: 100px; }

.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pb75 { padding-bottom: 75px; }
.pb100 { padding-bottom: 100px; }

.mt30 { margin-top: 30px; }

section {
  padding: 0;
}

.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }

@media (min-width: 768px) {
    .screenmd-mt100- { margin-top: -100px; }
}
@media (max-width: 768px) {
    .mobile-mt100- { margin-top: -100px; }
}


/* ------------------------*/ /* ---------->>> 3. COLORS <<<-----------*/ /* ------------------------*/

.colorK { color: #000; }
.colorDG { color: #4a4a4a; }
.colorMG { color: #9b9b9b; }
.colorF { color: #FFF; }
.colorDB { color: #182951; }
.colorCB { color: #1d97d5; }
.colorTB { color: #46e6c2; }
.colorLGreen { color: #a8ee63; }
.colorMGreen { color: #77da5a; }
.colorLO { color: #f5a623; }
.colorRO { color: #ed6940; }
.colorP { color: #bb5d69; }
.colorLR { color: #f62a45; }
.colorM { color: #bd10e0; }

.bgK { background-color: #000; }
.bgDG { background-color: #4a4a4a; }
.bgMG { background-color: #9b9b9b; }
.bgF { background-color: #FFF; }
.bgDB { background-color: #182951; }
.bgCB { background-color: #1d97d5; }
.bgTB { background-color: #46e6c2; }
.bgLGreen { background-color: #a8ee63; }
.bgMGreen { background-color: #77da5a; }
.bgLO { background-color: #f5a623; }
.bgRO { background-color: #ed6940; }
.bgP { background-color: #bb5d69;}
.bgLR { background-color: #f62a45; }
.bgM { background-color: #bd10e0; }
.bgHB { background-color: #3930ec }


.bg-primary {
    background: #9037FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #652df4, #9037ff 55%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #652df4, #9037ff 55%); /*6d3ce7*/ /*6c39ec*/ /*6932f4*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-darkblue { background: #182952; }
.bg-castpurple { background: #652df4; }
.bg-castblue { background: #29a9db; }

.mobileThreeDisable {
    display: none;
}

/* ------------------------*/ /* ---------->>> 4. HEADER <<<-----------*/ /* ------------------------*/
/* ------------------------*/ /* ---------->>> 5. PAGE STRUCTURE <<<-----------*/ /* ------------------------*/
/* ------------------------*/ /* ---------->>> 6. HEADINGS <<<-----------*/ /* ------------------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #1080f2;*/
    background: #ffffff;
}
#loader-logo {
    width: 200px;
    height: auto;
    margin: auto;
    padding-bottom: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    margin: auto;
}

/* ------------------------*/ /* ---------->>> 7. TEXT STYLES <<<-----------*/ /* ------------------------*/

h1 {
  /*font: bold 60px 'Avenir Next LT Pro Heavy', Montserrat;*/
  font: bold 60px 'Montserrat'; /*bold*/
  text-transform: uppercase;
}
h2 {
  font: bold 48px 'Montserrat'; /*heavy*/
}
h3 {
  font: bold 38px 'Montserrat'; /*bold*/
  color:  #1d97d5;
}
h4 {
  font: bold 35px 'Lato'; /*bold*/
  line-height: 1.3;
  font-weight: 700;
}
h5 {
  font: 25px 'Lato'; /*regular*/
  line-height: 1.5;
  font-weight: 400;
}
h6 {
  font: 26px 'Montserrat'; /*demi*/
  text-transform: uppercase;
}
h7 {
  font: 20px 'Lato'; /*medium*/
}
h8 {
  font: 16px 'Lato'; /*bold*/
  font-weight: 700;
}
h9 {
  font: 18px 'Lato';
  font-weight: 400;
}
.slidernext {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 53px 5px 0;
  color: #182951;
}
.deepshadow {
    color: #e0dfdc;
    background-color: transparent;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
  }

/* ------------------------*/ /* ---------->>> 8. NAVIGATION <<<-----------*/ /* ------------------------*/
/* ------------------------*/ /* ---------->>> 9. DECORATION <<<-----------*/ /* ------------------------*/

.container .accentboxP {
  border: 2px solid #f62a45;
  -webkit-box-shadow: 6px 6px 0px 0px rgba(235,167,167,0.5);
  -moz-box-shadow: 6px 6px 0px 0px rgba(235,167,167,0.5);
  box-shadow: 6px 6px 0px 0px rgba(235,167,167,0.5);
  background-color: #FFF;
  padding: 30px;
}

.container .accentboxMGreen {
  border: 2px solid #77da5a;
  -webkit-box-shadow: 6px 6px 0px 0px rgba(184,233,134,.5);
  -moz-box-shadow: 6px 6px 0px 0px rgba(184,233,134,.5);
  box-shadow: 6px 6px 0px 0px rgba(184,233,134,.5);
  background-color: #FFF;
  padding: 30px;
}

.container .accentboxCB {
  border: 2px solid #1d97d5;
  -webkit-box-shadow: 6px 6px 0px 0px rgba(29, 151, 213, 0.5);
  -moz-box-shadow: 6px 6px 0px 0px rgba(29, 151, 213, 0.5);
  box-shadow: 6px 6px 0px 0px rgba(29, 151, 213, 0.5);
  background-color: #FFF;
  padding: 30px;
}

.underline14 {
  display: inline-block;
  border-bottom: 14px solid;
  padding-bottom: 3px;
}
.underline14CB {
  display: inline-block;
  border-bottom: 14px solid #1d97d5;
  padding-bottom: 3px;
}
.underline14TB {
  display: inline-block;
  border-bottom: 14px solid #46e6c2;
  padding-bottom: 3px;
}
.underline14LGreen {
  display: inline-block;
  border-bottom: 14px solid #a8ee63;
  padding-bottom: 3px;
}
.underline14MGreen {
  display: inline-block;
  border-bottom: 14px solid #77da5a;
  padding-bottom: 3px;
}
.underline14LO {
  display: inline-block;
  border-bottom: 14px solid #f5a623;
  padding-bottom: 3px;
}
.underline14RO {
  display: inline-block;
  border-bottom: 14px solid #ed6940;
  padding-bottom: 3px;
}
.underline14LR {
  display: inline-block;
  border-bottom: 14px solid #f62a45;
  padding-bottom: 3px;
}
.underline14M {
  display: inline-block;
  border-bottom: 15px solid #bd10e0;
  padding-bottom: 3px;
}
.underline5 {
  display: inline-block;
  border-bottom: 5px solid;
  padding-bottom: 4px;
}
.underline5CB {
  display: inline-block;
  border-bottom: 5px solid #1d97d5;
  padding-bottom: 4px;
}
.labeltag {
  /*padding: 8px 9px 6px 8px;*/
  padding: 8px 11px 7px 8px;
  /*margin: 0 10px 0 -140px;*/
  left: 100%;
  /*position: absolute;*/
}
.arrow-right {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 20;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid #46e6c2;
  right: 0;
  bottom: 0;
}
.steps {
  font: bold 60px 'Avenir Next LT Pro Bold', Montserrat;
  color: #1d97d5;
  margin-right: 8px;
}
/*.dividerL {
  display: block;
  border-left: 2px solid #dddbdb;
  padding: 20px;
}*/
@media (max-width:370px) {
  h1, .steps { font-size: 28px; }
  h2 { font-size: 20px; }
  h3 { font-size: 20px; }
  h4 { font-size: 15px; }
  h5 { font-size: 15px; }

  h6 { font-size: 20px; }
  h7 { font-size: 20px; }
  h8 { font-size: 15px; }
  h9 { font-size: 15px; }

  .underline15CB {
    display: inline-block;
    border-bottom: 8px solid #1d97d5;
    padding-bottom: 5px;
  }
  .underline15 {
    display: inline-block;
    border-bottom: 8px solid;
    padding-bottom: 5px;
  }

  #thinLR {
    border-bottom: 5px solid #f62a45;
  }
  #thinMG {
    border-bottom: 5px solid #77da5a;
  }
}
@media (min-width: 371px) and (max-width:693px) {
  h1, .steps { font-size: 25px; }
  h2 { font-size: 45px; }
  h3 { font-size: 40px; }
  h4 { font-size: 20px; }
  h5 { font-size: 20px; }

  h6 { font-size: 20px; }
  h7 { font-size: 20px; }
  h8 { font-size: 15px; }
  h9 { font-size: 15px; }

  .underline15CB {
    display: inline-block;
    border-bottom: 8px solid #1d97d5;
    padding-bottom: 5px;
  }
  .underline15 {
    display: inline-block;
    border-bottom: 8px solid;
    padding-bottom: 5px;
  }
  /*.img-mobile { width: 50%; }*/
  #thinLR {
    border-bottom: 5px solid #f62a45;
  }
  #thinMG {
    border-bottom: 5px solid #77da5a;
  }
}
@media (max-width:766px) {
  h1, .steps { font-size: 50px; }
  h2 { font-size: 30px; }
  h3 { font-size: 40px; }
  h4 { font-size: 20px; }
  h5 { font-size: 20px; }

  h6 { font-size: 20px; }
  h7 { font-size: 20px; }
  h8 { font-size: 15px; }
  h9 { font-size: 15px; }
}
@media (min-width: 767px) and (max-width:990px) {
  h1, .steps { font-size: 54px; }
  h2 { font-size: 40px; }
  h3 { font-size: 40px; }
  h4 { font-size: 30px; }
  h5 { font-size: 25px; }

  h6 { font-size: 20px; }
  h7 { font-size: 20px; }
  h8 { font-size: 15px; }
  h9 { font-size: 15px; }
}

/* ------------------------*/ /* ---------->>> 10. ANIMATIONS <<<-----------*/ /* ------------------------*/
.panelscroll {
  height: 100%;
  width: 100%;
}
/*.fish {
		min-width: 500px;
	}*/

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #a8ee63;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /*cursor: pointer;*/
}

/* ------------------------*/ /* ---------->>> 11. EXTRAS <<<-----------*/ /* ------------------------*/


.annotation-screenshot-caption {
    margin-top: 100px;
}
.cast-slider-title {
    margin-top: 70px;
    font-size: 50px;
}
.cast-slider-img {
    margin-top: -30px;
}
.cast-slider-caption-bottom {
    margin-top: -20px;
    font-weight: 450;
    font-size: 17px;
}
.cast-slider-subtitle {
    font-size: 14px;
    font-weight: 600;
}
.cast-slider-height {
    height: 800px;
}
.pricing-margin {
    margin-top: -20px;
}
.showOnMobile {
    display: none;
}
.hideOnMobile {
    display: inherit;
}
.contact-text {
    color: white;
}
.contact-align {
    text-align: right;
}
@media (max-width: 990px) {
    .annotation-screenshot-caption {
        margin-top: 0px;
    }
    .workday-caption {
        font-size: 15px;
    }
    .contact-tint {
        background: linear-gradient( rgba(41, 41, 41, 0.65), rgba(41, 41, 41, 0.65)),
    }
    .contact-margin {
        margin-top: 20px;
    }
    .contact-align {
        text-align: center;
    }
    .contact-text {
        color: black;
        font-weight: 600;
    }
    .contact-b-u {
        color: #1ba8dd;
        text-transform: uppercase;
    }
    .pricing-margin {
        margin-top: 20px;
    }
    .cast-slider-title {
        margin-top: -10px;
        font-size: 35px;
    }
    .cast-slider-subtitle {
        font-weight: bold;
        font-size: 11px;
        line-height: 1.8em;
        margin-top: 30px;
    }
    .cast-slider-img {
        margin-top: 0px;
    }
    .cast-slider-caption-bottom {
        margin-top: 0px;
        font-weight: 400;
    }
    .cast-slider-height {
        height: 600px;
    }
    .map-opacity {
        opacity: .20;
        filter: blur(20px);
    }
    .showOnMobile {
        display: inherit;
    }
    .hideOnMobile {
        display: none;
    }
    .background-image-holder {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: #292929;
        background-size: cover !important;
        background-position: 67% 30% !important;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        opacity: 0;
    }
}
@media (max-width: 770px) {
    .contact-banner-email {
        margin-top: 20px;
    }
    .contact-banner-location {
        margin-left: -113px;
    }
}

/* Blue Checkbox  */

.checkbox-option, .radio-option {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #1BA8DD;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 24px;
}
.checkbox-option .inner, .radio-option .inner {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #1BA8DD;
    position: relative;
    top: 2px;
    left: 2px;
    display: inline-block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.checkbox-option.checked .inner {
    transform: translate3d(25px, 0, 0);
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0);
    background: #1BA8DD;
}
.checkbox-option input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.radio-option {
    width: 25px;
    height: 25px;
    text-align: left;
}
.radio-option:nth-of-type(n+2) {
    margin-left: 24px;
}
.radio-option input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.radio-option .inner {
    border: none;
    width: 19px;
    height: 19px;
    left: 2px;
    transform: scale(0);
    -webkit-transform: scale(0);
}
.radio-option+ span {
    display: inline-block;
    line-height: 25px;
}
.radio-option.checked .inner {
    transform: scale(1);
    -webkit-transform: scale(1);
}
.radio-option.checked .inner {
    background: #1BA8DD;
}

/* Blue Button */

.btn-blue {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #1BA8DD;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #1BA8DD;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
    background-color: transparent;
}
.btn-blue:hover {
    background: #1BA8DD;
    color: #fff;
    border-color: #1BA8DD;
}

/* Blue Button Tabs */

.button-tabs-blue .tabs {
    display: inline-block;
    overflow: hidden;
}
.button-tabs-blue .tabs> li {
    margin-bottom: 8px;
    float: left;
}
.button-tabs-blue .tabs> li:last-child {
    margin-right: 0;
}
.button-tabs-blue .tab-title {
    padding: 13px;
    display: inline-block;
    text-align: center;
    min-width: 150px;
    background: #f5f5f5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.bg-secondary .button-tabs-blue .tab-title {
    background: #eee;
}
.button-tabs-blue .tab-title span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.button-tabs-blue .active .tab-title {
    background: #1BA8DD;
    color: #fff;
}
.button-tabs-blue .tab-title:hover {
    background: #eee;
}
.button-tabs-blue .active .tab-title:hover {
    background: #1BA8DD;
}
.button-tabs-blue.vertical {
    overflow: hidden;
}
.button-tabs-blue.vertical> .tabs {
    max-width: 30%;
    float: left;
}
.button-tabs-blue.vertical> .content {
    padding-left: 3%;
    max-width: 70%;
    float: right;
}
.button-tabs-blue.vertical> .tabs li, .button-tabs-blue.vertical .tab-title {
    width: 100%;
}
.button-tabs-blue.vertical> .tabs li {
    margin-bottom: 10px;
}
.bg-dark .button-tabs-blue .tab-title span {
    color: #222;
}
@media all and (max-width: 767px) {
    .button-tabs-blue .tabs li {
        width: 49%;
        margin-bottom: 15px;
    }
    .button-tabs-blue.vertical .tabs, .button-tabs-blue.vertical .content {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
    }
}

/* Dont put anything below here*/

.oSpin {
    opacity: 0.9;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.oSpin:after, .oSpin:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 5px solid transparent;
    border-bottom: 5px solid #16c4d6; /*#00b8fc*/
    border-radius: 100%;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
.oSpin:before {
    width: 40px;
    height: 40px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

 /* TIMELINE BUTTON-TABS */

 .button-tabs-tl:before {
 	content: '';
 	position: absolute;
 	/*top: 0;*/
 	/*bottom: 0;*/
  margin-top:30px;
 	width: 5px;
  height: 424px;
 	background: #afdcf8;
 	left: 8%;
 	margin-left: -49px;
 }

 .button-tabs-tl > li {
	position: relative;
}

 .button-tabs-tl .tabs {
   display: inline-block;
   overflow: hidden;
 }
 .button-tabs-tl .tabs > li {
   margin-bottom: 8px;
   float: left;
      margin-left:47px;
 }
 .button-tabs-tl .tabs > li:last-child {
   margin-right: 0;
 }
 .button-tabs-tl .tab-title {
   padding: 13px;
   display: inline-block;
   text-align: left;
   min-width: 150px;
   /*background: #f5f5f5;*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
 }
 .bg-secondary .button-tabs-tl .tab-title {
   background: #eee;
 }
 .button-tabs-tl .tab-title span {
   font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 700;
 }
 .button-tabs-tl .active .tab-title {
   /*background: #29a9db;*/
   /*color: #fff;*/
   color: #29a9db;
 }
 .button-tabs-tl .tab-title:hover {
   /*background: #eee;*/
   color:#afdcf8;
 }
 .button-tabs-tl .active .tab-title:hover {
   /*background: #29a9db;*/
   color:#29a9db;
 }
 .button-tabs-tl .tab-title:before {
   content: '';
   position: absolute;
   /*top: 10;*/
   /*bottom: 0;*/
   margin-left:-54px;
   margin-top:5px;
   border-radius:20px;
   width:15px;
   height:15px;
   background-color:#afdcf8;
   left: 8%;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
 }
 .button-tabs-tl .active .tab-title:before {
   content: '';
   position: absolute;
   margin-left:-56px;
   margin-top:4px;
   border-radius:20px;
   width:19px;
   height:19px;
   background-color:#29a9db;
   left: 8%;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
 }
 .button-tabs-tl.vertical {
   overflow: hidden;
 }
 .button-tabs-tl.vertical > .tabs {
   max-width: 30%;
   float: left;
 }
 .button-tabs-tl.vertical > .content {
   padding-left: 3%;
   max-width: 70%;
   float: right;
 }
 .button-tabs-tl.vertical > .tabs li,
 .button-tabs-tl.vertical .tab-title {
   width: 100%;
 }
 .button-tabs-tl.vertical > .tabs li {
   margin-bottom: 10px;
 }
 .bg-dark .button-tabs-tl .tab-title span {
   color: #222;
 }
 @media (max-width: 767px) {
   .button-tabs-tl .tabs li {
     width: 49%;
     margin-bottom: 15px;
     margin-left: 8%;
   }
   .button-tabs-tl.vertical .tabs,
   .button-tabs-tl.vertical .content {
     max-width: 100%;
     width: 100%;
     padding-left: 0;
   }
   .button-tabs-tl:before {
   	left: 8%;
   	margin-left: -1px;
    height: 424px;
   }
   .button-tabs-tl .tab-title:before {
     left: 8%;
     margin-left:-6px;
   }
   .button-tabs-tl .active .tab-title:before {
     left: 8%;
     margin-left:-8px;
   }
 }

 @media (min-width: 768px) and (max-width:990px) {
   .button-tabs-tl .tabs li {
     width: 49%;
     margin-bottom: 15px;
     margin-left: 5%;
   }

   .button-tabs-tl:before {
     left: 7%;
     /*margin-left: -36px;*/
      height: 540px;
   }
   .button-tabs-tl .tab-title:before {
     left: 7%;
     /*margin-left:-26px;*/
   }
   .button-tabs-tl .active .tab-title:before {
     left: 7%;
     /*margin-left:-28px;*/
   }

 }
 @media (min-width: 992px) {

   .button-tabs-tl:before {
     left: 8%;
     margin-left: -32px;
      height: 445px;
   }

   .button-tabs-tl .tab-title:before {
     left: 6%;
     margin-left:-18px;
   }
   .button-tabs-tl .active .tab-title:before {
     left: 6%;
     margin-left:-20px;
   }
 }
 @media (min-width: 1200px) {
   .button-tabs-tl .tabs li {
     width: 20%;
     margin-bottom: 15px;
     margin-left: 75px;
   }
   .button-tabs-tl:before {
     left: 8%;
     margin-left: -24px;
      height: 440px;
   }
   .button-tabs-tl .tab-title:before {
     left: 6%;
     margin-left:-6px;
   }
   .button-tabs-tl .active .tab-title:before {
     left: 6%;
     margin-left:-8px;
   }
 }

/* TIMELINE BUTTON TABS ---- VENDOR */

 .button-tabs-tlv:before {
 	content: '';
 	position: absolute;
 	/*top: 0;*/
 	/*bottom: 0;*/
  margin-top:30px;
 	width: 5px;
  /*height: 324px;*/
 	background: #afdcf8;
 	left: 8%;
 	margin-left: -49px;
 }

 .button-tabs-tlv > li {
	position: relative;
}

 .button-tabs-tlv .tabs {
   display: inline-block;
   overflow: hidden;
 }
 .button-tabs-tlv .tabs > li {
   margin-bottom: 8px;
   float: left;
    margin-left:47px;
 }
 .button-tabs-tlv .tabs > li:last-child {
   margin-right: 0;
 }
 .button-tabs-tlv .tab-title {
   padding: 13px;
   display: inline-block;
   text-align: left;
   min-width: 150px;
   /*background: #f5f5f5;*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
 }
 .bg-secondary .button-tabs-tlv .tab-title {
   background: #eee;
 }
 .button-tabs-tlv .tab-title span {
   font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 24px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 700;
 }
 .button-tabs-tlv .active .tab-title {
   /*background: #29a9db;*/
   /*color: #fff;*/
   color: #29a9db;
 }
 .button-tabs-tlv .tab-title:hover {
   /*background: #eee;*/
   color:#afdcf8;
 }
 .button-tabs-tlv .active .tab-title:hover {
   /*background: #29a9db;*/
   color:#29a9db;
 }
 .button-tabs-tlv .tab-title:before {
   content: '';
   position: absolute;
   /*top: 10;*/
   /*bottom: 0;*/
   margin-left:-54px;
   margin-top:5px;
   border-radius:20px;
   width:15px;
   height:15px;
   background-color:#afdcf8;
   left: 8%;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
 }
 .button-tabs-tlv .active .tab-title:before {
   content: '';
   position: absolute;
   margin-left:-56px;
   margin-top:4px;
   border-radius:20px;
   width:19px;
   height:19px;
   background-color:#29a9db;
   left: 8%;
   transition: all 0.3s ease;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
 }
 .button-tabs-tlv.vertical {
   overflow: hidden;
 }
 .button-tabs-tlv.vertical > .tabs {
   max-width: 30%;
   float: left;
 }
 .button-tabs-tlv.vertical > .content {
   padding-left: 3%;
   max-width: 70%;
   float: right;
 }
 .button-tabs-tlv.vertical > .tabs li,
 .button-tabs-tlv.vertical .tab-title {
   width: 100%;
 }
 .button-tabs-tlv.vertical > .tabs li {
   margin-bottom: 10px;
 }
 .bg-dark .button-tabs-tlv .tab-title span {
   color: #222;
 }

 @media (max-width: 384px) {
   .button-tabs-tlv .tabs li {
     width: 49%;
     margin-bottom: 15px;
     margin-left: 8%;
   }
   .button-tabs-tlv.vertical .tabs,
   .button-tabs-tlv.vertical .content {
     max-width: 100%;
     width: 100%;
     padding-left: 0;
   }
   .button-tabs-tlv:before {
   	left: 8%;
   	margin-left: -1px;
    height: 400px;
   }
   .button-tabs-tlv .tab-title:before {
     left: 8%;
     margin-left:-6px;
   }
   .button-tabs-tlv .active .tab-title:before {
     left: 8%;
     margin-left:-8px;
   }
 }

 @media (max-width: 767px) {
   .button-tabs-tlv .tabs li {
     width: 49%;
     margin-bottom: 15px;
     margin-left: 8%;
   }
   .button-tabs-tlv.vertical .tabs,
   .button-tabs-tlv.vertical .content {
     max-width: 100%;
     width: 100%;
     padding-left: 0;
   }
   .button-tabs-tlv:before {
   	left: 8%;
   	margin-left: -1px;
    height: 184px;
   }
   .button-tabs-tlv .tab-title:before {
     left: 8%;
     margin-left:-6px;
   }
   .button-tabs-tlv .active .tab-title:before {
     left: 8%;
     margin-left:-8px;
   }
 }

 @media (min-width: 768px) and (max-width:990px) {
   .button-tabs-tlv .tabs li {
     width: 49%;
     margin-bottom: 15px;
     margin-left: 5%;
   }

   .button-tabs-tlv:before {
     left: 7%;
     /*margin-left: -36px;*/
      height: 250px;
   }
   .button-tabs-tlv .tab-title:before {
     left: 7%;
     /*margin-left:-26px;*/
   }
   .button-tabs-tlv .active .tab-title:before {
     left: 7%;
     /*margin-left:-28px;*/
   }

 }
 @media (min-width: 992px) {

   .button-tabs-tlv:before {
     left: 8%;
     margin-left: -32px;
      height: 200px;
   }
   .button-tabs-tlv .tab-title:before {
     left: 6%;
     margin-left:-18px;
   }
   .button-tabs-tlv .active .tab-title:before {
     left: 6%;
     margin-left:-20px;
   }
 }
 @media (min-width: 1200px) {
   .button-tabs-tlv .tabs li {
     width: 20%;
     margin-bottom: 15px;
     margin-left: 75px;
   }
   .button-tabs-tlv:before {
     left: 8%;
     margin-left: -24px;
      height: 205px;
   }

   .button-tabs-tlv .tab-title:before {
     left: 6%;
     margin-left:-6px;
   }
   .button-tabs-tlv .active .tab-title:before {
     left: 6%;
     margin-left:-8px;
   }
 }

 /* CAST SLIDER HEADING */
.cast-slider-left > h1 {
  /*padding-top: 200px;*/
  padding-bottom: 0px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.cast-slider-left > h1:before {
  margin-bottom: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: white;
}
.cast-slider-left > h1:after {
  margin-top: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: white;
}
.cast-slider-left > h2 {
  /*padding-top: 200px;*/
  padding-bottom: 0px;
  font-size: 40px;
  /*font-weight: bold;*/
  color: #29a9db;
  text-transform: uppercase;
  line-height: 40px;
}
.cast-slider-left > h2:before {
  margin-bottom: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: #29a9db;
}
.cast-slider-left > h2:after {
  margin-top: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: #29a9db;
}
.cast-slider-left > h3 {
  /*padding-top: 200px;*/
  padding-bottom: 0px;
  font-size: 40px;
  /*font-weight: bold;*/
  color: #29a9db;
  line-height: 40px;
}
.cast-slider-left > h3:before {
  margin-bottom: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: #29a9db;
}
.cast-slider-left > h3:after {
  margin-top: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: #29a9db;
}
.cast-slider-right > h1 {
  /*padding-top: 200px;*/
  padding-bottom: 0px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: right;
  line-height: 60px;
}
.cast-slider-right > h1:before {
  margin-bottom: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: white;
  text-align: right;
}
.cast-slider-right > h1:after {
  margin-top: 10px;
  content:"";
  display: block;
  width: auto;
  height: 8px;
  background-color: white;
  text-align: right;
}
.cast-number {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}

/* IndexCover Animation */
.fusiform {
  opacity: 0;
  animation: hideshow 10s 5.5s ease infinite;
}
/*.cast {
  opacity: 0;
  animation: hideshow 10s 1.5s ease infinite;
}*/
.cast {
  transform: translateY(150px);
  animation: popup 10s 6.5s ease infinite;
}
@keyframes popup {
  0% {
    transform: translateY(150px);
    opacity: 20%;
  }
  34% {
    transform: translateY(20px);
    opacity: 50%;
  }
  37% {
    transform: translateY(150px);
    opacity: 70%;
  }
  100% {
    transform: translateY(250px);
    opacity: 100%;
  }
}
@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
}

/* LineSVG Styling */
.svg-container {
    max-width: 100%;
    height: auto;
}
.svg-container:hover {
}
.reply {
  opacity: 0;
  animation: bounceInDown 2s 3s ease forwards;
}

.avatar2:hover {
  transform: translate(0px,-20px);
  transition: all .5s ease;
  cursor: pointer;
}
.orderlabel1 {
  animation: slideInUp 3s .55s ease forwards;
}
.orderlabel2 {
  transform: translateY(40px);
  animation: slideInDown 6s .75s ease forwards;
}
.dot1:hover, .dot2:hover, .dot3:hover, .dot4:hover, .dot5:hover, .dot6:hover {
   fill: #09ACF8;
   transition: all 0.3s ease;
}
.line1, .line2, .line1branch {
  stroke-dasharray: 6000;
  stroke-dashoffset: 5900;
  animation: dash 5s ease-out forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }

  75% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  90% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
svg {
  padding-bottom: 50%;
  width: 100%;
  height: auto;
}
svg > image {
  width: 100%;
  height: auto;
}
/* Animation - Dropdown */
.animation-dropdown {
  animation: fadeInDown 2.7s ease-in-out forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);*/
    -webkit-transform: translate3d(0, -550px, 0);
    transform: translate3d(0, -550px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animation-fadein {
  animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
